/screenshots
/asm
/cache
/vintagefix
/saves
/crash-reports
/logs
/backups
/mods
/coremods
/shaderpacks
/texturepacks
/resourcepacks
/server-resource-packs
/tc_signpacks
/snapshots-server
/patchouli_books
/fontfiles
/fancymenu_data
/fancymenu_setups
/bansoukou
/BACKUP_MODS
/assetmover
/addonpacks
/resources

options.txt
.ReAuth.cfg
hei_bookmarks.ini
patchouli_data.json
usercache.json
usernamecache.json
key_bindings.json
seen_buildersbag_addons.txt

/**/*.log
/**/*.dll

/config/splash.properties
/config/jei/worldSettings.cfg
